body {
    background: url("../img/discord.png");
}

img {
    border-radius: 50%;
    height: 200px;
}

#body-group {
    color: white;
    background-color:#7289da;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 25px;
}

#card {
    background-color:#2b2b2b;
    padding: 3% 0% 3% 0%;
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;
}

#description {
    margin-top: 2%;
}

#links {
    background-color:#181818;
    padding: 3%;
    margin: 5% 10% 5% 10%;
    border-radius: 25px;
}

#link {
    padding: 2%;
}

